<link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
<div class="phx-hero">
  <h1 class="welcome-banner"> Welcome to ABC Games</h1>
</div>
<a href="/tictactoe" class="button large">Tic-Tac-Toe</a>
<a href="/dot-box" class="button large">Dot-Box</a>

